* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 10px 0 0 10px;
}

img {
  max-width: 100%;
}

header {
  margin: -10px 0 50px -10px;
}

h1 a {
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
  margin: 0 0 0 0;
}

h2 {
  color: white;
}

p {
  color: white;
}

.wrapper {
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
  width: fit-content;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul ul {
  display: none;
}

.wrapper ul li:hover > ul {
  display: block;
  width: fit-content;
}

.carousel-container {
  overflow: hidden;
  position: relative;
  max-height: 700px;
}

.carousel-slide {
  display: flex;
}

#prevBtn {
  width: 50%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0%;
  z-index: 10;
  font-size: 30px;
  cursor: w-resize;
}

#nextBtn {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: 10;
  right: 0%;
  font-size: 30px;
  cursor: e-resize;
}
