* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-direction: row;
  font-size: 19.2px;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER*/
header {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 371px;
  max-height: 100%;
  overflow-y: scroll;
}

video {
  width: 321px;
  height: 208px;
  margin: 25px 0px 0px 25px;
}

.contact a {
  color: rgb(25, 98, 255);
  text-decoration: none;
}

.contact a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.home {
  text-decoration: none;
  padding: 25px 0 0 25px;
}

.contact-text {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 0px 25px;
}

.images {
  padding: 0px 25px 0px 25px;
}

.image {
  width: 100%;
  max-width: 321px;
  height: auto;
  padding-bottom: 25px;
}

.scroll-right {
  display: none;
}

.scroll-down {
  color: rgb(255, 0, 0);
  text-align: right;
  margin-right: 25px;
  z-index: +1;
}

/*SLIDER*/
.wrapper {
  height: auto;
  width: 100%;
  margin-left: 371px;
}

.carousel-image {
  display: block;
  height: 100vh;
}

.slider {
  width: 80%;
}

/*I-FRAME*/
.iframe-wrapper {
  position: relative;
  padding: 25px;
}

.iframe-wrapper #frame {
  margin: 0px 0px 0px 376px;
  width: 70vw;
  height: 80vh;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
}

/*NO-CAROUSEL*/
.no-carousel {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px 50px 0px 500px;
}
s .no-carousel img {
  margin-bottom: 100px;
  min-width: 300px;
  height: auto;
}

/*TABLET*/
@media (max-width: 950px) {
  /*HEADER*/
  header {
    width: 100vw;
    height: 350px;
  }

  .contact {
    position: fixed;
  }

  .images {
    margin: 75px 25px 0px 346px;
  }

  .scroll-down {
    position: fixed;
    color: rgb(255, 0, 0);
    margin: 25px 0px 25px 371px;
  }

  /*BODY*/
  body {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    top: 349px;
    position: fixed;
    width: 100vw;
    margin-left: 0px;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    padding: 25px;
    position: fixed;
    margin: 376px 0px 0px -350px;
  }

  .iframe-wrapper #frame {
    width: 92vw;
    height: 60vh;
  }

  .no-carousel {
    padding: 50px;
    margin: 350px 50px 0px 0px;
  }
}

/*TELEFOON*/
@media (max-width: 720px) {
  video {
    max-height: 104px;
    width: auto;
  }

  header {
    height: 300px;
    overflow-y: auto;
  }

  .scroll-down {
    margin-left: 210px;
  }

  .images {
    max-width: 160px;
    margin: 65px 0px 0px 185px;
  }

  /*SLIDER*/
  body {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    top: 245px;
    position: fixed;
    width: 100vw;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    margin-top: 325px;
    padding: 25px;
  }
}
