* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-size: 17px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  padding: 0px;
  margin: 0px;
}

/*HEADER*/
header {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 371px;
  max-height: 100%;
  overflow-y: scroll;
}

/*VISITE-KAART*/
video {
  width: 321px;
  height: 208px;
  margin: 25px 0px 0px 25px;
  z-index: +1;
}

.contact a {
  color: rgb(25, 98, 255);
  text-decoration: none;
}

.contact a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

/* .home {
  text-decoration: none;
  padding: 25px 0 0 25px;
} */

.contact-text {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 0px 25px;
  z-index: +1;
}

/*NAVIGATION-HEADER*/
.images {
  padding: 0px 25px 0px 25px;
}

.image {
  width: 100%;
  max-width: 321px;
  height: auto;
  padding-bottom: 25px;
}

.scroll-down {
  color: rgb(255, 0, 0);
  text-align: right;
  margin: 0px 25px 25px 0px;
  z-index: +1;
}

/*PROJECT-DESCRIPTION*/
.project-description {
  padding: 25px 0px 0px 25px;
  margin-left: 371px;
  font-style: oblique;
}

/*SLIDER*/
.wrapper {
  height: auto;
  width: 100%;
  margin-left: 371px;
}

.carousel-image {
  display: block;
  height: 100vh;
}

.slider {
  width: 80%;
}

/*I-FRAME*/
.iframe-wrapper {
  padding: 25px;
  margin-left: 371px;
}

.iframe-wrapper #frame {
  border: 1px solid rgb(0, 0, 0);
  width: 60vw;
  height: 90vh;
}

/*NO-CAROUSEL*/
.no-carousel {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px 50px 0px 500px;
}
s .no-carousel img {
  margin-bottom: 100px;
  min-width: 300px;
  height: auto;
}

/*SMALL-DESKTOP-WINDOW*/
@media (max-width: 1050px) {
  /*I-FRAME*/
  .iframe-wrapper #frame {
    width: 55vw;
  }
}

/*TABLET*/
@media (max-width: 950px) {
  /*HEADER*/
  header {
    width: 100vw;
    height: 350px;
    position: fixed;
  }

  .contact {
    position: fixed;
  }

  .images {
    margin: 75px 25px 0px 346px;
  }

  .scroll-down {
    position: fixed;
    color: rgb(255, 0, 0);
    margin: 25px 0px 25px 371px;
  }

  /*BODY*/
  body {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    top: 349px;
    position: fixed;
    width: 100vw;
    margin-left: 0px;
  }

  /*PROJECT-DESCRIPTION*/
  .project-description {
    position: fixed;
    padding: 25px 0px 0px 25px;
    margin: 350px 0px 0px 0px;
    font-style: oblique;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    position: fixed;
    margin: 396px 0px 0px 0px;
  }

  .iframe-wrapper #frame {
    width: 92vw;
    height: 50vh;
  }

  /*NO-CAROUSEL*/
  .no-carousel {
    padding: 50px;
    margin: 350px 50px 0px 0px;
  }
}

/*TELEFOON*/
@media (max-width: 720px) {
  body {
    font-size: 15px;
  }

  header {
    height: 300px;
    overflow-y: auto;
  }

  video {
    max-height: 104px;
    width: auto;
    margin: 12px 0px 0px 12px;
  }

  .contact-text {
    margin: 12px 0px 0px 12px;
  }

  .scroll-down {
    margin-left: 185px;
    margin: 12px 0px 12px 185px;
  }

  .images {
    max-width: 100vw;
    min-width: 161px;
    padding: 12px 12px 12px 0px;
    margin: 40px 0px 12px 185px;
  }

  .image {
    padding-bottom: 12px;
  }

  /*PROJECT-DESCRIPTION*/
  .project-description {
    margin: 295px 0px 0px 0px;
  }

  /*SLIDER*/
  body {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    top: 245px;
    position: fixed;
    width: 100vw;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    margin-top: 340px;
    padding: 25px 0px 0px 0px;
  }

  .iframe-wrapper #frame {
    width: 100vw;
    height: 50vh;
  }
}
