* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 10;
  font-family: "Times New Roman", Times, serif;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: none;
}

/*HOME PAGE*/
header {
  background-color: rgb(252, 215, 7);
  width: 100px;
  margin: 0px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

/*IMAGE GALLERY*/

.images {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

#img-ditheroscoop {
  width: fit-content;
  height: auto;
}

#not-full-width {
  width: fit-content;
  height: auto;
}

/*MAKE GALLERY RESPONSIVE*/

@media (max-height: 900px) {
  img {
    max-width: 100%;
    height: 600px;
  }

  #img-ditheroscoop {
    max-width: 100%;
    height: 600px;
  }

  #not-full-width {
    width: auto;
    height: 600px;
  }
}

@media (max-height: 800px) {
  img {
    max-width: 100%;
    height: 550px;
  }

  #img-ditheroscoop {
    max-width: 100%;
    height: 550px;
  }

  #not-full-width {
    width: auto;
    height: 550px;
  }
}

@media (max-height: 700px) {
  img {
    max-width: 100%;
    height: 500px;
  }

  #img-ditheroscoop {
    max-width: 100%;
    height: 500px;
  }

  #not-full-width {
    width: auto;
    height: 500px;
  }
}

@media (max-width: 1450px) {
  .images {
    width: 100%;
    height: auto;
  }

  #img-ditheroscoop {
    max-width: 100%;
    height: 500px;
  }
}

@media (max-width: 1250px) {
  img {
    max-width: 100%;
    height: 600px;
  }

  .images {
    width: 100%;
    height: auto;
  }

  #img-ditheroscoop {
    max-width: 100%;
    height: 500px;
  }
}

@media (max-width: 1000px) {
  #img-ditheroscoop {
    max-width: 100%;
    height: 400px;
  }
}

@media (max-width: 850px) {
  img {
    max-width: 100%;
    height: 500px;
  }

  .images {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 800px) {
  #img-ditheroscoop {
    max-width: 100%;
    height: 300px;
  }
}

@media (max-width: 710px) {
  img {
    max-width: 100%;
    height: 400px;
  }

  .images {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 620px) {
  #img-ditheroscoop {
    max-width: 100%;
    height: 250px;
  }
}

@media (max-width: 570px) {
  img {
    max-width: 100%;
    height: 300px;
  }

  .images {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 530px) {
  #img-ditheroscoop {
    max-width: 100%;
    height: 200px;
  }
}

@media (max-width: 450px) {
  img {
    max-width: 100%;
    height: 250px;
  }

  .images {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 405px) {
  #img-ditheroscoop {
    max-width: 100%;
    height: 150px;
  }
}

@media (max-width: 360px) {
  img {
    max-width: 100%;
    height: 200px;
  }

  .images {
    width: 100%;
    height: auto;
  }
}
