* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-direction: row;
  font-size: 19.2px;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER*/
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 371px;
  max-height: 100%;
  overflow-y: scroll;
}

.contact a {
  color: rgb(25, 98, 255);
  text-decoration: none;
}

.contact a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.home {
  text-decoration: none;
  padding: 25px 0 0 25px;
}

.card {
  position: fixed;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin: 258px 0px 0px 25px;
}

.images {
  margin-top: 386px;
  padding: 0px 25px 0px 25px;
}

.image {
  width: 100%;
  max-width: 321px;
  height: auto;
  padding-bottom: 25px;
}

.scroll-down {
  position: fixed;
  color: rgb(255, 0, 0);
  text-align: right;
  padding: 315px 0px 0px 240px;
  z-index: +1;
}

/*SLIDER*/
.carousel-container {
  height: 80vh;
  width: 80vw;
  padding: 50px;
  margin: 50px 0px 0px 500px;
}

.carousel-image {
  display: block;
  height: 100vh;
}

.slider {
  width: 80%;
}

/*iframe*/
.iframe-wrapper {
  padding: 50px;
  position: relative;
  margin: 100px 0px 700px 550px;
}

.iframe-wrapper #frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 55vw;
  height: 70vh;
}

/*NO-CAROUSEL*/
.no-carousel {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px 50px 0px 500px;
}

.no-carousel img {
  margin-bottom: 100px;
  min-width: 300px;
  height: auto;
}

/*TABLET*/
@media (max-width: 800px) {
  /*HEADER*/
  header {
    width: 100vw;
    height: 337px;
  }

  .images {
    margin-top: 75px;
    padding: 0px 25px 0px 371px;
  }

  .carousel-container {
    width: 100vw;
    height: 80vh;
    padding: 50px;
    margin: 300px 0px 0px 0px;
  }

  .scroll-down {
    position: fixed;
    color: rgb(255, 0, 0);
    margin: 0px 0px 25px 0px;
    padding: 25px 0px 0px 371px;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    padding: 25px;
    position: fixed;
    margin: 362px 0px 700px 25px;
  }

  .iframe-wrapper #frame {
    top: 0;
    left: 0;
    width: 92vw;
    height: 60vh;
  }

  .no-carousel {
    padding: 50px;
    margin: 350px 50px 0px 0px;
  }
}
