* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

img {
  max-width: 100%;
}

header {
  margin: 10px 0 50px 10px;
}

h1 a {
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
  margin: 0 0 0 0;
}

h2 {
  color: white;
}

p {
  color: white;
}

.wrapper {
  color: black;
  background-color: whitesmoke;
  text-decoration: none;
  width: fit-content;
}

.wrapper ul {
  list-style: none;
}

.wrapper ul ul {
  display: none;
}

.wrapper ul li:hover > ul {
  display: block;
  width: fit-content;
}
.carousel-container {
  height: 80vh;
  width: 100vw;
}

.carousel-image {
  display: block;
  height: 100vh;
  /* set min-width,
     allow images to determine cell width */
  /* min-width: 150px;
  max-width: 100vw;
  margin-right: 10px; */
  /* vertically center */
  /* top: 50%; */
  /* transform: translateY(-50%); */
}
/* BUTTONS */
