* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-direction: row;
  font-size: 19.2px;
}

img {
  max-width: 100%;
  height: auto;
}

/*HEADER*/
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 371px;
  max-height: 100%;
  overflow-y: scroll;
}

video {
  width: 321px;
  height: 208px;
  position: fixed;
  top: 25px;
}

.contact a {
  color: rgb(25, 98, 255);
  text-decoration: none;
}

.contact a:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.home {
  text-decoration: none;
  padding: 25px 0 0 25px;
}

.card {
  position: fixed;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  margin: 258px 0px 0px 25px;
}

.images {
  margin-top: 386px;
  padding: 0px 25px 0px 25px;
}

.image {
  width: 100%;
  max-width: 321px;
  height: auto;
  padding-bottom: 25px;
}

.scroll-right {
  display: none;
}

.scroll-down {
  position: fixed;
  color: rgb(255, 0, 0);
  text-align: right;
  padding: 315px 0px 0px 240px;
  z-index: +1;
}

/*SLIDER*/
.carousel-container {
  height: auto;
  width: 85vw;
  margin: 0px 0px 0px 371px;
}

.carousel-image {
  display: block;
  height: 100vh;
}

.slider {
  width: 80%;
}

/*I-FRAME*/
.iframe-wrapper {
  position: relative;
  margin: 25px 0px 0px 396px;
}

.iframe-wrapper #frame {
  position: absolute;
  width: 55vw;
  height: 90vh;
  border: 1px solid rgb(0, 0, 0);
}

/*NO-CAROUSEL*/
.no-carousel {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px 50px 0px 500px;
}
s .no-carousel img {
  margin-bottom: 100px;
  min-width: 300px;
  height: auto;
}

/*TABLET*/
@media (max-width: 950px) {
  /*HEADER*/
  header {
    width: 100vw;
    height: 337px;
  }

  .images {
    margin: 75px 25px 0px 371px;
  }

  .carousel-container {
    width: 100vw;
    height: 80vh;
    margin: 387px 0px 0px 0px;
  }

  .scroll-down {
    position: fixed;
    color: rgb(255, 0, 0);
    margin: 0px 0px 25px 0px;
    padding: 25px 0px 0px 371px;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    padding: 25px;
    position: fixed;
    margin: 362px 0px 700px 25px;
  }

  .iframe-wrapper #frame {
    top: 0;
    left: 0;
    width: 92vw;
    height: 60vh;
  }

  .no-carousel {
    padding: 50px;
    margin: 350px 50px 0px 0px;
  }
}

/*TELEFOON*/
@media (max-width: 720px) {
  /*HEADER*/
  header {
    height: 715px;
  }

  .card {
    position: fixed;
    z-index: +1;
  }

  .scroll-right {
    position: fixed;
    color: red;
    display: block;
    margin: 300px 0px 0px 270px;
  }

  .scroll-down {
    position: fixed;
    padding: 737px 0px 0px 137px;
  }

  .images {
    display: flex;
    flex-direction: row;
    width: 2000px;
    margin: 338px 0px 0px 25px;
    padding: 0px;
  }

  .image {
    margin-right: 25px;
  }

  /*SLIDER*/
  .carousel-container {
    width: 100vw;
    height: 80vh;
    margin: 760px 0px 0px 0px;
  }

  /*I-FRAME*/
  .iframe-wrapper {
    margin-top: 780px;
  }
}
