* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  flex-direction: row;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  max-height: 100%;
  overflow-y: auto;
}

.contact {
  color: rgb(59, 193, 119);
  padding: 10px 0px 0px 10px;
  font-size: 18px;
}

.contact a {
  color: rgb(59, 193, 119);
}

.contact .home {
  color: red;
  padding-left: 80%;
  padding-top: 20%;
}

.card {
  display: flex;
  flex-direction: column;
  height: 200px;
  background-color: rgb(242, 181, 51);
  margin: 15px 15px 15px 15px;
  padding: 15px;
}

.image {
  padding: 10px 10px 0px 10px;
  width: 100%;
  max-width: 400px;
  height: auto;
}

/*SLIDER*/
.carousel-container {
  height: 80vh;
  width: 80vw;
  padding: 50px;
}

.carousel-image {
  display: block;
  height: 100vh;
}

.slider {
  width: 80%;
}

/*iframe*/
.wrapper-iframe {
  padding: 35%;
  position: relative;
  margin: 100px;
}

.wrapper-iframe #frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 70vh;
}

/*RESPONSIVE-PHONE*/
@media (max-width: 400) {
  header {
    width: 100vw;
  }
}

/*RESPONSIVE-TABLET*/
